<?php
/**
 * @var \App\View\AppView $this
 */
declare(strict_types=1);

/**
 * @var \Cake\View\View $this
 */

use Cake\Core\Configure;
use Cake\View\Exception\MissingElementException;

/**
 * Default `html` block.
 */
if (!$this->fetch('html')) {
    $this->start('html');
    printf('<html lang="%s" class="no-js">', Configure::read('App.language'));
    $this->end();
}

/**
 * Default `title` block.
 */
if (!$this->fetch('title')) {
    $this->start('title');
    echo Configure::read('App.title');
    $this->end();
}

/**
 * Default `footer` block.
 */
if (!$this->fetch('tb_footer')) {
    $this->start('tb_footer');

    $this->end();
}

/**
 * Default `body` block.
 */
$this->prepend('tb_body_attrs', ' class="' . implode(' ', [$this->request->controller, $this->request->action]) . '" ');
if (!$this->fetch('tb_body_start')) {
    $this->start('tb_body_start');
    echo '<body' . $this->fetch('tb_body_attrs') . '>';
    $this->end();
}
/**
 * Default `flash` block.
 */
if (!$this->fetch('tb_flash')) {
    $this->start('tb_flash');
    if (isset($this->Flash)) {
        echo $this->Flash->render();
    }
    $this->end();
}

if (!$this->fetch('tb_body_end')) {
    $this->start('tb_body_end');
    echo '</body>';
    $this->end();
}

/**
 * Prepend `meta` block with `author` and `favicon`.
 */
$this->prepend('meta',
    $this->Html->meta('author', null, ['name' => 'author', 'content' => Configure::read('App.author')]));
$this->prepend('meta', $this->Html->meta('favicon.ico', '/favicon.ico', ['type' => 'icon']));

/**
 * Prepend `css` block with Bootstrap stylesheets and append
 * the `$html5Shim`.
 */
$html5Shim =
    <<<HTML
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
HTML;
$this->prepend('css', $this->AssetCompress->css('style', ['raw' => Configure::read('debug')]));

$this->append('css', $html5Shim);

/**
 * Handle the navbar in each plugins
 */
$plugin = $this->request->getParam('plugin');
$element = !empty($plugin) ? $plugin . '.' : '';
$element .= 'navbar';

/**
 * Prepend `script` block with jQuery and Bootstrap scripts
 */
//$this->prepend('script', $this->Html->script([
//]));

$this->prepend('script', $this->AssetCompress->script('vendor', ['raw' => Configure::read('debug')]));

?>
<!DOCTYPE html>

<?= $this->fetch('html') ?>

<head>
    <?= $this->Html->charset() ?>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    <title><?= $this->fetch('title') ?></title>

    <?= $this->fetch('meta') ?>
    <?= $this->fetch('css') ?>
</head>

<?php
echo $this->fetch('tb_body_start');

try {
    echo $this->element($element);
} catch (MissingElementException $e) {
    echo $this->element('navbar');
}

echo $this->fetch('tb_flash');
echo $this->fetch('content');
echo $this->fetch('tb_footer');
echo $this->fetch('script');
echo $this->fetch('tb_body_end');
?>

</html>
