<?php
/**
 * @var \App\View\AppView $this
 * @var object $account
 * @var mixed $debtors
 * @var object $user
 */
?>
    <div class="page-heading">
        <h1 class="page-title">Account Debtors</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <?php if ($this->request->getQuery('source')):?>
            <li class="breadcrumb-item">
                <?= $this->Html->link("Account", $this->request->getQuery('source')); ?>
            </li>
            <?php else: ?>
                <li class="breadcrumb-item">
                    <?= $this->Html->link("Accounts", ['controller' => 'Accounts', 'action' => 'user', $user->id]); ?>
                </li>
            <?php endif; ?>
            <li class="breadcrumb-item">Debtors</li>
        </ol>
    </div>

    <div class="page-content">
        <div class="ibox">
            <?= $this->Flash->render() ?>
            <div class="ibox-head">
                <div class="ibox-title">Debtors List for user <span class="text-pink"><?= $user->email ?> </span> and Account <span
                            class="text-pink"><?= $account->name ?> </span></div>
                <?= $this->Html->link('Add', ['action' => 'accountsAdd', $account->id], ['class' => 'btn btn-success']); ?>
            </div>
            <div class="ibox-body">
                <div class="flexbox mb-4">
                    <div class="input-group-icon input-group-icon-left mr-3">
                        <span class="input-icon input-icon-right font-16"><i class="ti-search"></i></span>
                        <input class="form-control form-control-rounded form-control-solid" id="key-search" type="text"
                               placeholder="Search ...">
                    </div>
                </div>
                <div class="table-responsive row">
                    <table class="table table-bordered table-hover" id="datatable">
                        <thead class="thead-default thead-lg">
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Zip-Code</th>
                            <th>City</th>
                            <th>Phone</th>
                            <th>Vat Number</th>
                            <th>Email</th>
                            <th>Is Company</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($debtors as $debtor): ?>
                            <tr>
                                <td>
                                    <?php if ($debtor->is_company == 1): ?>
                                    <?= $debtor->company_name ?></td>
                                <?php else: ?>
                                    <?= $debtor->first_name ?> <?= $debtor->last_name ?> </td>
                                <?php endif; ?>
                                <td> <?= $debtor->address ?> </td>
                                <td> <?= $debtor->zip_code ?> </td>
                                <td> <?= $debtor->city ?> </td>
                                <td> <?= $debtor->phone ?> </td>
                                <td> <?= $debtor->vat_number ?> </td>
                                <td> <?= $debtor->email ?> </td>
                                <td> <?php echo $debtor->is_company ? "Yes" : "No"; ?> </td>
                                <td> <?= $debtor->country ? $debtor->country->name : "-" ?> </td>
                                <td>
                                    <?= $this->Html->link('Edit',
                                        ['action' => 'edit', $debtor->id],
                                        ['class' => 'btn btn-warning']); ?>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<?= $this->Html->script('/Admin/js/vendors/datatables.min.js') ?>